@model IEnumerable<PCM.Models.Collection>

    ﻿@{
    ViewData["Title"] = "All Collections";


}

@section Styles {
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css">
}


<h2>All Collections</h2>

<br />
<br />
<table class="table table-bordered" id="collectionsTable">
    <thead>
        <tr>
            <th>Collection Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Created At</th>
            @*     <th>Description</th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var collection in Model)
        {
            <tr>
                <td>@collection.CollectionId</td>
                <td>@collection.Name</td>
                <td>@collection.CategoryName</td>
                <td>@collection.CreatedAt</td>  

                @*  <td>@collection.Description</td> *@
                <td>
                    <a href="@Url.Action("DetailsPublic", new { id = collection.CollectionId })" class="btn btn-info">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#collectionsTable').DataTable({
                "order": [[3, "desc"]]
            });
        });
    </script>
}   