@model PCM.Models.Collection

@{
    ViewData["Title"] = "Collection Details";
}

@section Styles {
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

}

<h2>Collection Details</h2>
<table class="table table-bordered">

    @if (Model.ImageUrl == "File is empty.")
    {
        <tr>
            <th>Logo</th>
            <td>
                <img src="https://res.cloudinary.com/dafywr2nr/image/upload/v1723141221/vezrv9aufcei3w7jjxgu.png" style="width: 200px; height: 50px;" alt="Image" />
            </td>
        </tr>
    }
    else
    {
        <tr>
            <th>Logo</th>
            <td>
                <img src="@Model.ImageUrl" style="width: 50px; height: 50px;" alt="Image" />
            </td>
        </tr>
    }

  

    <tr>
        <th>Collection Id</th>
        <td>@Model.CollectionId</td>    
        </tr>   

    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>


    <tr>
        <th>Category</th>
        <td>@Model.CategoryName</td>
    </tr>

    <tr>
        <th>Description</th>
        <td>@Html.Raw(Model.Description) </td>
    </tr>

</table>

<div style="display: flex;">
    <h3 style="margin-right:2%">Items</h3>

    <a href="@Url.Action("Create", "Item", new { collectionId = Model.CollectionId })" class="btn btn-primary">
        <i class="fas fa-plus"></i> Add Item
    </a>

</div>



<table class="table table-bordered " id="itemTable">
    <thead>
        <tr>
            <th>Item Id</th>
            <th>Name</th>
            <th>Creation Date</th>
        


            @if (!string.IsNullOrEmpty(Model.CustomString1Name))
            {
                <th>@Model.CustomString1Name</th>
            }

            @if (!string.IsNullOrEmpty(Model.CustomInt1Name))
            {
                <th>@Model.CustomInt1Name</th>
            }

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Name</td>

                <td>@item.CreatedAt</td>    
               

                @if (!string.IsNullOrEmpty(Model.CustomString1Name))
                {
                    <td>@item.CustomString1Value</td>
                }

                @if (!string.IsNullOrEmpty(Model.CustomInt1Name))
                {
                    <td>@item.CustomInt1Value</td>
                }

                

                <td>
                    <a href="@Url.Action("Details", "Item", new { id = item.ItemId })" class="btn btn-info">View Item</a>
                    <a href="@Url.Action("Edit", "Item", new { id = item.ItemId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Item", new { id = item.ItemId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#itemTable').DataTable({
                "order": [[2, "desc"]]
            });
        });
    </script>
}
