@model IEnumerable<PCM.Models.Item>
@{
    ViewBag.Title = "Items";
    var collectionId = ViewBag.CollectionId;
}

<h2>Items</h2>
<a href="@Url.Action("Create", new { collectionId = collectionId })" class="btn btn-primary">Create New Item</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
               @*  <td>@string.Join(", ", new[] { item.Tag1, item.Tag2, item.Tag3, item.Tag4, item.Tag5 }.Where(t => !string.IsNullOrEmpty(t)))</td> *@

               <td>@item.Tag</td>   
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ItemId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.ItemId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

