@model PCM.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Index";
}



<div class="container mt-5">
    <h2 class="mb-4">Search Results for "@Model.Keyword"</h2>

    <div class="row mb-4">
        <div class="col">
            <h2>Items : </h2>
        </div>
    </div>

    <div class="row">

        @if (Model.Items.Count == 0)
        {
            <div class="col">
                <p>No items found.</p>
            </div>

        }
        else
        {
            foreach (var item in @Model.Items)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/Item/Details?id=@item.ItemId" class="text-decoration-none">@item.Name</a>
                            </h5>
                            <p class="card-text">
                                Collection: <a href="/Collection/DetailsPublic/@item.CollectionId" class="text-decoration-none">@item.CollectionName</a>
                            </p>
                            <p class="card-text">Author: @item.Author</p>
                        </div>
                    </div>
                </div>
            }
        }

    </div>

    @if(Model.Items.Count == 0 && Model.Collections.Count > 0 )
    {
        <div class="row mb-4">
            <div class="col">
                <h2>Collections : </h2>
            </div>
        </div>
    }
   

    <div class="row">
         
        @if (Model.Collections.Count == 0  )
        {
            <div class="col">
                <p>No collections found.</p>
            </div>
        }
        else if(Model.Items.Count == 0 )
        {
            foreach (var collection in Model.Collections)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/Collection/DetailsPublic/@collection.CollectionId" class="text-decoration-none">@collection.Name</a>
                            </h5>
                            <p class="card-text">Number of items: @collection.TotalItems</p>
                        </div>
                    </div>
                </div>
            }

        }
    </div>

</div>

